<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Change Log</title>
</head>
<body>
<table>
    <tr th:each="changeEntry : ${mylist}">
        <td th:text="${changeEntry.id}"></td>
        <td th:text="${changeEntry.name}"></td>
        <td th:text="${changeEntry.beschreibung}"></td>
        <td th:text="${changeEntry.kuerzel}"></td>
        <td th:text="${changeEntry.datum}"></td>
    </tr>
</table>
</body>
</html>